body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#040d0d;
}
a {
    text-decoration: none;
    
}
.title-link {
    display: none;
}
.title-arrow {
    margin-left: 20px;
    display: flex;
    align-items: center; 
}
.title-arrow .title-arrow--hover {
    display: none;
}
.title-arrow:hover .title-arrow--static{
    display: none;
}
.title-arrow:hover .title-arrow--hover{
    display: block;
}
.arrow-prev {
    margin-right: 10px;
    margin-left: 10px;
}
.arrow-prev,
.arrow-next{
    border-radius: 50%;
    border: 3px solid #dbdee6;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow-prev .no-mobile,
.arrow-next .no-mobile{
    display: none;
}
.arrow-prev:hover,
.arrow-next:hover{
    border: 3px solid #ff6629;
}
.orange{
    color: #ff5816;
}
.registration{
    margin: 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.region{
    text-align: start;
}
.region a{
    color:#0000ff;
    border-bottom: 1px dotted
}
.cabinet{
    text-align: end;
}
.cabinet a{
    color:#0000ff;
    text-decoration: underline;
}
.cabinet .hidden{
    display: none;
}

.contacts{
   padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.hidden-feedback{
    display: none;
}
.contacts .hidden{
    display: none;
}
.contacts__lable{
    display: none;
}
.contacts__homy{
    flex-grow: 1;
    font-size: 10px;
    text-transform: uppercase;
    color: #b3b6b8;
}
.contacts__homy img{
    padding-top: 5px;
}
.contacts__search{
    align-self: flex-end;
    margin: 10px;
}
.contacts__basket{
    align-self: flex-end;
    font-size: 10px;
    margin: 10px;
    margin-right: 0;
    align-items:baseline;
}
.searc__hidden{
    display: none;
}
.basket__hidden{
    display: none;
}
.basket__p320{
    width: 70%;
    margin-left: 40%;
    background-color: #d9dde6;
    border-radius: 15px;
    text-align: center;
    color: #f3985d;
}
.basket__lable{
    display: none;
}
.contacts__feedback{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    width: 100%;
    height: 60px;
}
.feedback-number{
    align-self: flex-start;
    flex-grow: 1;
    width:60%;
}
.viber-watsapp{
    float: left;
   display: inline;
}
.low{
    margin-top: 3px;
}
.feedback-not-number svg{
    float: left;
   
}
.feedback-not-number{
    margin-top: 10px;
    align-self: flex-end;
    text-align: end;
}
.feedback-not-number a{
    color:#0000ff;
    text-decoration: underline;
}

.feedback-days{
    display: none;
}
.big-font{
    font-size: 22px;
}




.news{
    display: none;
}



.what-by-now{
    display: none;
}

.brends{
    display: none;
}

.strong-habbits{
    display: none;
}


@media (min-width: 750px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
        position: relative;
    }
    .registration{
        margin-left: 0;
        margin-right: 0;
    }
    .cabinet .hidden{
        display: inline;
        margin: 20px;
    }
    .contacts{
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .contacts__homy{
        flex-grow: 1;
        order: -2;
    }
    .contacts__search{
        align-self: flex-start;
        margin-right: 20px;
    }
    .contacts__basket{
        width:28%;
        display: flex;
        align-self: flex-start;
        flex-wrap: wrap;
        position: relative;
        margin: 0;
    }
    .contacts__basket *{
        margin-top: 5px;
    }
    .contacts .hidden{
        margin-top: 10px;
        display: block;
    }
    .contacts__homy img{
        width: 180px;
        height: auto;
    }
    .contacts__lable{
        display: block;
        position: absolute;
        z-index: -1;
        margin-left: 53px;
    }
    .feedback-days{
        display: inline;
        text-align: end;
        margin: 0;
    }
    .contacts__feedback{
        margin-right: 40px;
        width:350px;
        height: auto;
        order: -1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-content:stretch;
        position: absolute;
        top: 10px;
        right: 40%;
    }
    .mail{
        order:1;
    }
    .feedback-number{
        flex-grow: 0;
        align-self: flex-end;
        text-align: end;
        justify-content:flex-end;
        margin: 2px;
       display: inline;
    }
    .thin{
        width: 40%;
    }
    .feedback-not-number{
        align-self: flex-end;
        text-align: end;
        margin: 2px;
    }
    .feedback-days{
        align-self: flex-end;
        text-align: end;
        margin: 2px;
    }
    .basket__hidden{
        display: inline;
        font-size: 11px;
        padding-bottom: 3px;
        margin-left: 8%;
    }
    .basket__lable{
        display: block;
        position: absolute;
        bottom: 1px;
        z-index: -1;
    }
    .basket__ico{
        position: absolute;
        top: 5px;
        left:15px
    }
    .basket__blue{
        font-size: 13px;
        color: #0000ff;
    }
    .basket__underline{
        border-color: #0000ff  !important; 
        border-bottom: 1px solid; 
    }
    .basket__ico + * {
        width: 75%;
    }
    .basket__p320{
        display: none;
    }
    .basket__p{
        display: block;
        font-size: 13px;
        margin-top: 5px;
        padding-left: 40px;
    }





    
      
    .news{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .news_1{
        width: 30%;
        background-color: aquamarine;
        height: 100px;
    }
    .news_2{
        width: 66%;
        display: flex;
        flex-direction: column;
       
    }
    .grey-ad{
        font-size: 9px;
        text-transform: uppercase;
        background-color: #e3e5eb;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }
    .grey-ad a{
        color: #4673ab;
    }
    .slider{
        margin-top: 30px;
        background-image: url(../images/cam.png);
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
    }


    .H2{
        font-size: 22px;
        text-transform: uppercase;
    }
    .line{
        background-color: #dbdee6;
        height: 2px;
        flex-grow: 1;
        margin-left: 20px;
    }



    .what-by-now{
        display:flex;
        align-items:center;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    
    .blocks{
        width: 100%;
        display:flex;
        justify-content:space-between;
        align-items:baseline;
        margin-top: 30px;
        
    }
    .blocks .hidden{
        display: none;
    }
    .block{
        width: 30%;
    }
    .block p{
        margin-top: 40px;
    }
    .block a{
        color:#4673ab;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-color: #a2b9d5;
    }



    .brends{
        display:flex;
        align-items:center;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .brends__blocks{
        width: 100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-top: 50px;
    }
    .brend{
        width: 20%;
    }
    .brends__blocks .hidden{
        display: none;
    }
    .brends__blocks .hidden980{
        display: none;
    }


    .strong-habbits{
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        background-color:#dbdee6;
        padding: 40px 15px;
        margin-bottom: 50px;
        border-radius: 10px;
    }
    .strong-habbits .line{
        background-color: #ffffff;
    }
    .habbits{
        width: 100%;
        display:flex;
        justify-content:space-around;
        align-items:baseline;
        margin-top: 30px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .habbit{
        width: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .habbit p{
        margin-top: 15px;
    }
    .habbit-ico{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        margin: 0 25%;
    }
    
    
}


@media (min-width: 980px) {
    .container {
        max-width: 940px;
    }
    .contacts__homy{
        width: 30%;
    }
    .contacts__basket{
        width:22%;
    }
    .contacts__search{
        margin-right: 20px;
    }
    .contacts__feedback{
        margin-right: 30px;
    }
    .hidden-feedback{
        display: block;
        order: -1;
        position: absolute;
        text-align: center;
        justify-content:flex-end;
        top: 10px;
        left:25%;
    }
    .hidden-feedback a{
        font-size: 13px;
        display: inline-block;
        color:#0000ff;
        border-bottom: 1px dotted;
        margin-top: 10px;
        margin-left: 8px;
    }
   
    .hidden-feedback img{
        width: 110px;
        height: 60px;
        display: block;
        position: absolute;
        z-index: -1;
       margin-bottom: 10 px;
    }


    .block{
        width: 20%;
    }
    
    .blocks .hidden{
        display: block;
    }

    .brend{
        width: 13%;
    }
    .brends__blocks .hidden{
        display: block;
    }
    
}

@media (min-width: 1140px) {
    .container {
        max-width: 1140px;
    }
    .contacts__basket{
        width:18%;
        top:35px;
    }
    .hidden-feedback{
        margin-left:5%;
    }
    .hidden-feedback a{
        margin-left:20px;
    }
    .contacts__homy{
        margin-top:25px;
    }
    .hidden-feedback{
        left:16%;
        top:45px;
    }
    .contacts__feedback{
        right: 50%;
        top:45px;
    }
    .img-search{
        display: none;
    } 
    .searc__hidden{
        display: block;
    }
    .searc__hidden p{
        margin: 5px;
        padding-left: 30px;
    }
    .contacts__search{
        width: 300px;
    }
    .xml-search{
        float: left;
    }
    .searc__form {
        background-color: #eff0f4;
        width: 260px;
        border: 3px solid #eff0f4;
        border-radius: 5px;
    }
    .searc__form input{
        background-color: #eff0f4;
        width: 160px;
        height: 30px;
    }
    .searc__form button{
        background-color: #ff5816;
        color: #ffffff;
        width: 60px;
        height: 30px;
        border: 3px solid #eff0f4;
        border-radius: 5px;
        margin-left: 30px;
    }
    .searc__form *{
        border: 0;
    }
    .u{
        border-bottom: 1px dotted; 
    }

    .arrow-prev {
        margin-right: 0;
        left: 0;
    }
    .arrow-next{
        right: 0;
    }
    .title-link{
        display: inline-block;
        color: #4673ab;
        text-decoration: underline;
        font-size: 13px;
        line-height: 20px;
        white-space: nowrap;
        margin-left: 10px;
    }
    .arrow-prev .mobile,
    .arrow-next .mobile,
    .title-arrow{
        display: none;
    }
    .arrow-prev .no-mobile,
    .arrow-next .no-mobile{
        display: none;
    }
    .arrow-prev,
    .arrow-next{
        position: absolute;
        border: none;
        padding: 0;
        top: 50%;
    }
    .arrow-prev:hover,
    .arrow-next:hover{
        border: none;
    }

    .brend{
        width: 10%;
    }
    .brends__blocks .hidden980{
        display: block;
    }

}